#hero{
    grid-row: hero-start/hero-end;
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}
#hero .hero__info{
    background-color: white;
    padding: 3rem;
    width: max-content;
}
.hero__info__p{
    padding-top: 1rem;
    max-width: 50rem;
}