/* Estilo para la barra de navegación en la parte superior */
.top-nav {
  grid-column: nav-start/nav-end;
  color: var(--primary);
}

/* Estilo para el menú de navegación */
.menu {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: -1;
}

.menu > li {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/* Estilo para el contenedor del botón del menú */
.menu-button-container {
  display: flex;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

/* Estilo para el botón del menú (hamburguesa) y sus efectos de animación */
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: var(--primary);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 4;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* Efectos de animación al hacer clic en el botón del menú */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

  
#menu-toggle:checked ~ .menu{
  background-color: var(--primaryCeroCuatro);
  z-index: 3;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border-bottom: 1px solid var(--primary);
  font-size: 3rem;
  height: 1em;
  line-height: 3.2rem;    
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li a{
  color: var(--secondary);
}